<div class="container login-container relative " >
    <div class="row element">
        <div class="col-md-6 login-form-1">
            <h3>Registro de Usuario</h3>
            <form
            class="form-horizontal form-material" 
            [formGroup]="FormRegister"
            (submit)="CrearUsuarios()"
            >
            <div class="form-group">
                <input type="text" 
                class="form-control" 
                placeholder="Ingrese su Nombre" 
                formControlName="nombre"/>
            </div>
                <div class="form-group">
                    <input type="text" 
                    class="form-control" 
                    placeholder="Ingrese su Email *" 
                     formControlName="email"/>
                </div>
                <div class="form-group">
                    <input type="password" 
                    class="form-control" 
                    placeholder="Ingrese su Password*" 
                    formControlName="password"/>
                </div>
                <div class="form-group">
                    <input type="password" 
                    class="form-control" 
                    placeholder="Confirme Password*" 
                    formControlName="password2"/>
                </div>

                <div class="row">
                    <div class="col text-danger">

                        <p *ngIf="CampoNovalido('nombre')" >El campo nombre es requedio</p>
                        <p *ngIf="CampoNovalido('email')" >El campo email es requedio</p>
                        <p *ngIf="CampoNovalido('password')" >El campo password es requedio</p>
                        <p *ngIf="CampoNovalido('password2')" >El campo confirmar password es requedio</p>


                    </div>


                </div>
                <div class="form-group">
                    <button type="submit"   class="btnSubmit text-uppercase waves-effect waves-light" >
                            Registrar
                    </button>
                </div>
            
            </form>
        </div>
      